# Backend
complaint-chatbot/target/
complaint-chatbot/.idea/
complaint-chatbot/application.properties

# Frontend
complaint-chatbot-ui/node_modules/
complaint-chatbot-ui/dist/
complaint-chatbot-ui/.env
complaint-chatbot-ui/.env.local
complaint-chatbot-ui/.env.*.local

# OS
.DS_Store
Thumbs.db